.navbar {
  margin: 0;
  border: 0;
}

.categories{
  padding: 0;

	ol, .form-wrap{
		width: 100%;
		float: left;
		clear: both;
	}

	ol{
		padding-bottom: 1rem;
		margin-top: 1rem;
		margin-bottom: 0;
		padding-top: 1rem;
	}

	h1{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 1rem;
		float: left;
		font-size: 2em;
		text-transform: uppercase;
	}

	.add-person{
		float: left;

	}

	.form-wrap{
		.btn-link{
			color: @dangerColor;
		}
	}
}

// styles the <li>s in the ol or ul to look like little interactive tags. S'cute!
.taggy-items{

  li{
		float: left;
		padding: 0.25rem 1rem 0.3rem 0.75rem;
		margin: .5rem;
		background: @textureImg;
		border: 1px solid #6B6B6B;
		border-radius: .5rem;
		position: relative;
		overflow: hidden;
		cursor: move;

    &.ui-draggable {
      padding-left: 1.75rem;

      &:before, &:after{
        content: '';
        position: absolute;
        left: -0.25rem;
        font-size: 3rem;
        width: 1.5rem;
        height: 0.5rem;
        border-bottom: 1px solid #b4b4b4;
        border-top: 1px solid #b4b4b4;
      }

      &:before{
        top: 0.75rem;
      }

      &:after{
        top: 1.5rem;
      }
    }

		.btn-link{
			color: @dangerColor;
			text-decoration: none;
      padding: 0;
      margin-left: 0.5rem;

			&:hover{
				color: #222;
			}
		}
	}

	.btn{
		cursor: pointer;
	}
}

.listing-details{
	width: 100%;
	font-size: 1rem;
	background: rgba(237, 242, 247, 0.29);
	float: left;
	clear: both;
	border-bottom: 1px solid rgba(214, 214, 214, 0.25);

	h2, h3{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	h3{
		font-size: 1.5rem;
	}

	ol{
		border-bottom: 0;
		margin-top: 0;
		min-height: 5rem;
	}

	li{
		background: #C5DBEE;

		span{
			font-size: 2rem;
			display: inline-block;
			vertical-align: middle;
			color: #B0B456;
		}
	}
}

.page-header{
	width: 100%;
	clear: both;
	float: left;
	padding-bottom: 0;
	margin: 0;
	border-bottom: 0;

	.hgroup{
		float: left;
		clear: left;
	}

	.close{
		float: right;
	}

	h2{
		font-size: 2rem;
	}
}
