<div id="people" class="col-md-12 categories">
	<div class="form-wrap">
		<div class="col-md-6">
			<h1>People</h1>
			<button class="btn btn-primary add-person" ng-if="!person" ng-click="add()">+</button>
		</div>

		<div class="col-md-6">
			<form class="form-inline" ng-if="person" ng-submit="save()">
			  <div class="form-group">
			  	<input class="form-control" type="text" ng-model="person.name" placeholder="Michael Jackson" autofocus>
			  </div>
			  <div class="form-group">
			  	<button class="btn btn-success" type="submit">&#x2713;</button>
			  	<button class="btn btn-link" ng-click="cancel()">&#x2715;</button>
			  </div>
			</form>
		</div>
	</div>

	<ol class="list-unstyled taggy-items">
	  <li ui-sref-active="active" ng-repeat="person in people | orderBy: 'name'" ng-model="person" jqyoui-draggable="{placeholder: 'keep'}" data-jqyoui-options="{revert: 'invalid', revertDuration: 0, helper: 'clone'}" data-drag='true'>
	    <button class="btn btn-default" ng-click="select(person)">{{ person.name }}</button>
	    <button class="btn btn-link" ng-click="remove(person)">&#x2715;</button>
	  </li>
	</ol>

	<div class="listing-details" ui-view="person" ng-repeat="person in people | filter:{ selected: true }">
	</div>
</div>
