<accordion-group is-open="true">

  <accordion-heading>
    {{group.category}}: {{group.name}}
    <button class="btn btn-link pull-right" ng-click="deselect(group)">Hide</button>
  </accordion-heading>

  <ol
    class               = "list-unstyled taggy-items"
    jqyoui-droppable
    data-drop           = "true"
    data-jqyoui-options = "{accept: '[ng-model=person]'}"
    ng-model            = "droppedPeople"
  >
    <li
      ng-repeat ="membership in memberships | filter: {group_id: group.id}"
      class     ="btn btn-default"
      ng-click  ="selectPerson(membership.person)"
    >
      {{ membership.person.name }}
      <button class="btn btn-link" ng-click="breakMembership(membership)">&#x2715;</button>
      <span ng-if="membership.person.coordinator">&#x2605;</span>
    </li>
  </ol>
</accordion-group>
