<h1>Listing api_v1_employees</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_employees.each do |api_v1_employee| %>
      <tr>
        <td><%= link_to 'Show', api_v1_employee %></td>
        <td><%= link_to 'Edit', edit_api_v1_employee_path(api_v1_employee) %></td>
        <td><%= link_to 'Destroy', api_v1_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_api_v1_employee_path %>
