<div class="col-md-6 groupings people" ng-class="people-view">

    <accordion close-others="true">

      <accordion-group is-open="status.openFirst" is-disabled="status.openFirst">

        <accordion-heading>All People</accordion-heading>
        <button class="btn btn-primary add-person" ng-if="!person" ng-click="new()">+</button>

        <form class="col-md-6 form-inline" ng-if="person" ng-submit="saveNew()">
          <div class="form-group">
            <input class="form-control" type="text" ng-model="person.name" placeholder="Michael Jackson" autofocus>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">&#x2713;</button>
            <button class="btn btn-link" ng-click="cancelNew()">&#x2715;</button>
          </div>
        </form>

        <ol class="list-unstyled taggy-items">
          <li
          ui-sref-active      = "active"
          ng-repeat           = "person in people | orderBy: 'name'"
          ng-model            = "person"
          jqyoui-draggable    = "{placeholder: 'keep'}"
          data-jqyoui-options = "{revert: 'invalid', revertDuration: 0, helper: 'clone'}"
          data-drag           = 'true'
          class               = "btn btn-default"
          ng-click            = "select(person)"
        >
          {{person.name}}
          </li>
        </ol>
      </accordion-group>

      <person ng-repeat="person in people | filter:{ selected: true } | orderBy: 'name'" />
    </accordion>

</div>
